@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  background-color: rgb(241, 241, 241);
  width: 100%;
  color: black;
  font-family: "open sans";
  margin: 1rem;
}
.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  gap: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}
